<div class="banner clear">
	<div class="signIn">
		<ul>
			<li>Messages</li>
			<li>Notifications</li>
			<li>Account Name</li>
			<li>Account Options</li>
		</ul>
	</div>
</div>



<div class="sideNavigation clear floatleft">
	<div class="menu">
		<div class="menuItem blue">
			<h3>Overview</h3>
		</div>
		<div class="menuItem green">
			<h3>Analytics</h3>
		</div>
		<div class="menuItem orange">
			<h3>Messages</h3>
		</div>
		<div class="menuItem purple">
			<h3>Users</h3>
		</div>
		<div class="menuItem red">
			<h3>Events / Promotions</h3>
		</div>
	</div>
</div>
