<div class="off-canvas-wrap" data-offcanvas>
	<div class="inner-wrap">
		<div class="right-off-canvas-menu" id="sidemenu">
			<ul>
				<li><a href="#">Test1</a></li>
				<li><a href="#">Test2</a></li>
				<li><a href="#">Test3</a></li>
			</ul>
		</div>
		<a class="right-off-canvas-toggle menu-icon" href="#sidemenu">menu</a>
		<section class="hero">
			<div class="row intro">
				<div class="small-6 small-centered columns">
					<h1>Nomad Method</h1>
				</div>
			</div>
		</section>
		<!--<%= image_tag("mpls.jpg", class: "picture") %>-->
		<button class="exit-off-canvas"></button>
	</div>
</div>
<div class="row">
	<div class="small-2 large-12 columns" style="height:20px;background:blue"></div>
	<div class="small-4 large-12 columns" style="height:20px;background:red"></div>
	<div class="small-6 large-12 columns" style="height:20px;background:yellow"></div>
</div>
